@font-face {
	font-family: "oswaldregular";
	src: url("webfontkit-Oswald/oswald-variablefont_wght-webfont.woff2")
			format("woff2"),
		url("webfontkit-Oswald/oswald-variablefont_wght-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;
}

.navbar {
	display: flex;
	background-color: #333;
	height: 80px;
	width: 100%;
	position: fixed;
	justify-content: start;
}

.menubutton {
	background-color: rgb(35, 35, 35);
	height: calc(100% - 34px);
	width: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
	padding-bottom: 17px;
}

.menu-stripe {
	width: 60%;
	height: 6px;
	background-color: white;
	border-radius: 1000px;
}

.menubutton:hover {
	background-color: darkgrey;
}

.Container {
	height: 100vh;
	background-color: grey;
}

.titel-container {
	font-size: 60px;
	width: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: center;
	font-family: oswaldregular;
}
