@font-face {
	font-family: "oswaldregular";
	src: url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff2")
			format("woff2"),
		url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}



body {
	padding: 0px;
	margin: 0px;
	background-image: url("../Images/omg/p2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;

}

div {
	letter-spacing: 1.2px;
	line-height: 1.4;
}

.navbar {
	display: flex;
	background-color: rgb(0, 0, 0);
	height: 6vh;
	min-height: 65px;
	width: 100%;
	position: fixed;
	justify-content: start;
}

.menubutton {
	background-color: rgb(35, 35, 35);
	height: calc(100% - 34px);
	width: 6vh;
	min-width: 65px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
	padding-bottom: 17px;
	cursor: pointer;
	transition: 0.4s;
}

.menu-stripe {
	width: 60%;
	height: max(6px, 0.75vh);
	background-color: white;
	border-radius: 1000px;
}

.menubutton:hover {
	background-color: darkgrey;
}

.change-stripe1 {
	transform: translate(0, 12.5px) rotate(-45deg);
}

.change-stripe2 {
	opacity: 0;
}

.change-stripe3 {
	transform: translate(0, -12.5px) rotate(45deg);
}

#sideMenu {
	margin-top: max(6vh, 65px);
	height: 40vh;
	width: 15vw;
	z-index: 2;
	position: fixed;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.menuItem {
	height: 25%;
	color: white;
	width: 100%;
	font-family: oswaldregular;
	font-size: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
}

.menuItem:hover {
	background-color: #555;
}

.toTheSide {
	margin-left: -100vh;
}

.headingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100vw - max(6vh, 65px));
	font-size: 5vh;
	font-family: "Roboto", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

#title {
	color: white;
	width: calc(100vw - (2 * max(0.75vh, 6px)));
	font-size: 5vh;
	font-family: oswaldregular;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1vh;
}

.header {
	width: 100%;
	color: #000000; 
	/* background-color: #6497b15a; */
	text-shadow: 2px 2px 2px rgb(91, 121, 126);
	/* background-color: #333; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: monospace;
	font-weight: 800;
	font-size: 3vh;
}

.paragraph {
	font-family: oswaldregular;

	font-size: min(22px, 2.8vw, 3vh);
	
	padding: 0.5em;

	color: #def2f1;
	background-color: #6497b1;
	height: calc(100% - 5vh - 1em);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0.25vh 0.25vh 2vh #333, -0.25vh -0.25vh 2vh #6497b178;
	text-shadow: 2px 2px 2px #505050;
}




#main-container {
	display: flex;	
	background-size: cover;
	justify-content: space-around;
	height: calc(100vh - max(6vh, 65px));
	width: 100%;
	padding-top: max(6vh, 65px);
	
}

#left-container {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: blue; */
	padding-bottom: 6vh;
	padding-left: 4vw;
}

#project {
	display: flex;
	flex-direction: column;

}

#how {
	width: min(34vw, 50vh);
	margin-bottom: 2vh;
	/* background-color: #2b7a78; */
}

#about {
	height: min(34vw,34vh);
	width: min(34vw, 34vh);

	/* background-color: #2b7a78; */
	border-radius: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}

#about:hover {
	transform: translateY(-0.5vh) translateX(-0.25vw);
}

#about-shadow {
	background-color: #222;
	border-radius: 1000px;
	/* opacity: 0.2; */
	box-shadow: 0.25vh 0.25vh 2vh #333, -0.25vh -0.25vh 2vh #6497b178;
}

#groupImage {
	height: 70%;
	object-fit: cover;
}

#aboutText {
	height: 30%;
	width: 100%;
	background-color: #6497b1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vh;
	font-family: oswaldregular;
	-webkit-user-select: none;
	user-select: none;
}

#right-container {

	width: 50%;
	display: row;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* background-color: blue; */
	
}

#top {
	width: 90%;
	margin-top: 1vh;
	/* background-color: yellow; */
	margin-right: 10%;
	
}

#bottom {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-right: 10%;


	/*background-color: darkgrey; */ 
}

.infoContainer {
	border-radius: 20px;
	margin-top: 15px;
	margin: 1vw;
	width: min(40%);
	/* background-color: #2b7a78; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.measurement-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	justify-self: end;
	width: 60%;
	height: min 35%;
	padding: 5%;
	margin-bottom: 30%;
	-webkit-user-select: none;
	user-select: none;
}



.measurement-button:hover {
	transform: translatey(-0.4vh) translateX(-0.2vw);
	box-shadow: 0.2vw 0.4vh #222;
}


