@font-face {
	font-family: "oswaldregular";
	src: url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff2")
			format("woff2"),
		url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	display: flex;

	flex-direction: column;
	background-image: url("../Images/omg/P4.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: fixed;
	background-size: cover;
}

.navbar {
	display: flex;
	background-color: rgb(52, 52, 52);
	height: 6vh;
	min-height: 65px;
	width: 100%;
	position: fixed;
	justify-content: start;
	z-index: 2;
	
}

.menubutton {
	background-color: rgb(35, 35, 35);
	height: calc(100% - 34px);
	width: max(6vh, 65px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 17px;
	padding-bottom: 17px;
	transition: 0.4s;
}

.menubutton:hover {
	background-color: darkgrey;
}

.menu-stripe {
	width: 60%;
	height: max(0.75vh, 6px);
	background-color: white;
	border-radius: 1000px;
}

.title-container {
	width: calc(100% - (2 * max(6vh, 65px)));
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: oswaldregular;
	font-size: 2.5em;
	color: white;
}

#sideMenu {
	margin-top: max(6vh, 65px);
	height: 40vh;
	width: 15vw;
	z-index: 2;
	position: fixed;
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.menuItem {
	height: 25%;
	color: white;
	width: 100%;
	font-family: oswaldregular;
	font-size: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
}

.menuItem:hover {
	background-color: #555;
}

.toTheSide {
	margin-left: -100vh;
}

.change-stripe1 {
	transform: translate(0, 12.5px) rotate(-45deg);
}

.change-stripe2 {
	opacity: 0;
}

.change-stripe3 {
	transform: translate(0, -12.5px) rotate(45deg);
}

.container {
	display: flex;
	top: 100px;
	width: 100%;
	height: 100vh;
	justify-content: center;

}

.contentbox {
	padding-right: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 80%;
	display: flex;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	box-shadow: 5px 5px 2px rgb(66, 89, 97);
	height: 1000%;
	
}

.content {
	background-color: rgba(92, 168, 219, 0.492);
	margin: 20px;
	border-radius: 30px;
	padding: 20px;
	width: 90%;
	font-size: 1.5em;
	font-family: oswaldregular;
	box-shadow: 5px 5px 2px rgb(66, 89, 97);
	color: white;
	line-height: 1.8;
	letter-spacing: 0.8px;
	
}


.heading {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 30px;
	margin: 20px;
	color: white;
	font-family: oswaldregular;
	font-size: 3.4em;
	background-color: rgba(0, 0, 0, 0.171);
	border-radius: 50px;
}

.contentHeding {
	color: rgba(255, 255, 255, 0.734);
	font-weight: bold;
	letter-spacing: 1.5px;
}

.personalBox {
	background-color: rgba(72, 165, 129, 0.8);

	margin: 20px;
	border-radius: 30px;
	padding: 20px;
	width: 43%;
	font-size: 1.5em;
	font-family: oswaldregular;
	box-shadow: 5px 5px 2px rgb(66, 89, 97);
	color: white;
	line-height: 1.8;
	letter-spacing: 0.8px;
}

.personalBoxes {
	display: flex;
	background-color: rgba(255, 255, 255, 0.079);
	flex-wrap: wrap;
	border-radius: 100px;
	width: 100%;
	justify-content: center;
}

.personalBox:hover {
	background-color: rgb(68, 157, 141)
}

.groupPicture {
	margin-top: 50px;
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
	width: 90%;
	height: 100vh;
	background-repeat: no-repeat;
	border-radius: 40px;
	background-size: cover;

}

.profilePic {
	display: flex;
	margin: 10px;
	border-radius: 20px;
	display: flex;
	height: 300px;
	background-size: cover;
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}


#sebpic {
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}

#lucepic {
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}

#willpic {
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}

#fellpic {
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}

#lovpic {
	background-image: url("https://media.istockphoto.com/id/1368965646/photo/multi-ethnic-guys-and-girls-taking-selfie-outdoors-with-backlight-happy-life-style-friendship.jpg?b=1&s=170667a&w=0&k=20&c=oFtP564Ykvak2VIyM1OUb29daY5S4uqsmT3j3_8QgfQ=");
}



