@font-face {
	font-family: "oswaldregular";
	src: url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff2")
			format("woff2"),
		url("../webfontkit-Oswald/oswald-variablefont_wght-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	background-image: url(../Images/matrix.gif);

	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	display: flex;
	margin: 0;
}

.sidebar {
	width: 15vw;
	background-color: black;
	opacity: 0.7;
	height: 200vh;
}
.main-content {
	background-color: white;
	opacity: 0.8;
	width: 70vw;
	height: 200vh;
}

h1 {
	font-family: Monospace;
	font-size: 6vh;
	display: flex;
	justify-content: center;
}
.text {
	font-size: 3vh;
	font-family: oswaldregular;
	display: flex;
	justify-content: center;
	margin: 2vw;
}
